<h1>Stock lists</h1>
<h1><%=link_to 'Wallet', wallet_index_path%></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Symbol</th>
      <th> Closing price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks["Time Series Daily"].each do |stock| %>
      <tr>
        <td><%= stock["close"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


