<% name = current_user.present? ? current_user.email? : ''%>
<h1>Welcome, <%= name%> to  Bank Mine : Your personal Virtual Bank</h1>
<h2> Sign Up or Log in to access our services</h2>
<%=link_to 'Sign in', new_user_session_path %>
<%=link_to 'Sign up', new_user_registration_path %>