<h1>My wallet:</h1>

<table>
  <thead>
    <tr>
      <th>Balance</th>
      <th colspan="6"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        
        <td><%= @current_wallet["balance"] %></td>
      
      </tr>
  </tbody>
</table>
<%= button_to 'Logout',destroy_user_session_path, method: :delete %>
<%= link_to 'Create Transaction', new_transaction_path %>

<table>
  <thead>
    <tr> 
      <th> History</th>
      <th colspan = "6"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%@transactions.each do |transaction|%>  
        <td><%=transaction["history"]%></td>
      <%end%>
    </tr>
  </tbody>
</table>

